---
import Navbar from "../views/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import DarkContainer from "../components/DarkContainer.astro";
import LightContainer from "../components/LightContainer.astro";
---

<Layout>
  <Navbar />
  <LightContainer>
    <h1 class="text-4xl text-stone-200">Witaj na mojej stronie!</h1>
    <p class="text-stone-800 mt-4">
      Tutaj znajdziesz informacje o mnie oraz moje projekty.
    </p>
  </LightContainer>
  <DarkContainer>
    <p class="text-stone-300">
      Skontaktuj się ze mną poprzez formularz kontaktowy lub media
      społecznościowe.
    </p>
  </DarkContainer>
</Layout>
