<button
  class="h-12 border border-transparent hover:border-white px-3 mx-8 text-2xl uppercase text-stone-400 hover:text-white rounded-2xl transition-all duration-100 cursor-pointer"
>
  <slot />
</button>
