---
const { title } = Astro.props;
const language = "Python";
---
<title>{title}</title>
<div id="container">  
    <p>{language} better ;)</p>
</div>

<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000000;
    }

    p {
        font-size: 10rem;
        color: #333;

    }
</style>